################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/C_Sharp_Syntax/bin/Debug/net8.0
/C_Sharp_Syntax/.vs/C_Sharp_Syntax/v17
/CrapsSimC#/.vs/CrapsSimC#/FileContentIndex
